# Python
__pycache__/
*.py[cod]
venv/

# Configuration (User specific)
config.json

# History & Data
history.json
history.json.*.bak
thumbnails/

# OS / Editor
.DS_Store
Thumbs.db

# Workflows
anima-t2i*.json
!anima-t2i.json